/* home page stylesheet*/
.wireFraming {
    background: url(../img/background-part.png);
    background-repeat: repeat;
    width: 100%;
    height: 1700px;

    .row {

        .text-center {
            width: 100%;
        }
    } 

    .title {
        font-size: 6em;
        color: $white;
        text-transform: uppercase;
        font-family: 'Universe';
        margin-top: 2.2em;
        margin-left: 1.52em;
    }  
    
    .description {
        font-size: 2.25em;
        line-height: 48px;
        color: $white;
        font-family: "Open Sans";
        margin-left: 4.12em;
        margin-top: 80px;
        margin-top: 2.2em;        
    }

    img {       
        width: 497px;
        height: 276px;
        display: block;
        margin: auto;
        margin-top: 14.2em;
    }
}