.footer {
    padding-top: 2em;
    position:relative;

    @media (min-width: $screen-md-min) {
        padding-top: 12em;
    }
    
    .col-md-5 {

        img {
            width: 100%;
            height: auto;
            margin-left: 0em;
            margin: auto;

            @media (min-width:$screen-md-min) {               
                max-width: 24em;
                margin-left: 2em;
            }   
            
            
            @media (min-width: $screen-lg-min) {                
                margin-left: 6em;
                max-width: 519px;
            }

            @media (min-width: 2000px) {
                width: auto;
                max-width: unset;
            }
        }
    }/*end of this*/

    .col-md-7 {

        img {
            width: 100%;
            height: auto;
            position: relative;
            right: -1em;

            @media (min-width: $screen-md-min) {
                right: -1em;
            }            
        }
    }/*end of this*/

    .col-md-8 {
        margin-bottom: 1em;

        img {
            margin: auto;
            display: block; 
            width: 100%;
            height: auto;           

            @media (min-width: $screen-sm-min) {                
                margin-top: 5em;
            }              
            
            @media (min-width:$screen-lg-min) {                
                max-width: 1200px;
            }

            @media (min-width: 2000px) {
                width: auto;
            }
        }
        
    }/*end of this*/

    .col-md-4 {
        margin-top: 1em;
        margin-bottom: 2em;

        @media (min-width:$screen-md-min) {  
            margin-top: 5em;
            margin-bottom: 5em;
        }
    }/*end of this*/

    .title {
        color:$smalltitlered;
        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;        
        margin: auto;
        margin-top: 0.4em;        
        margin-left: 0;
        font-weight: 700;
        
        @media (min-width: $screen-sm-min) {
            font-size: 1.3em;
            line-height: 1em;
            margin-top: 4em;
            margin-left: 1.6em;        
        }       
        
        @media (min-width: $screen-lg-min) {
            font-size: 2.6em;
            line-height: 2em;
            margin-top: 2em;
            margin-left: 1.7em;
        }

    }/*end of title*/

    .text {
        font-size: 0.8em;
        color:$text;      
        line-height: 2em;
        margin-top: 1em;  
        margin-left: 0;

        @media (min-width: $screen-sm-min) {
            margin-left: 2.6em;
            font-size: 0.8em;
            line-height: 2em;
            padding-right: 18%;            
            margin-bottom: 4em;
        }

        @media (min-width: 950px) {
            padding-right: 23%;
              
        }

        @media (min-width: $screen-md-min) {
            margin-left: 2.3em;
            font-size: 0.9em;
            line-height: 2em;
            padding-right: 26%;
            margin-bottom: 14em;
        }

        @media (min-width: 1150px) {            
            padding-right: 29%;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 1.8em;        
            padding-right: 6%;             
            line-height: 2em;
            margin-left: 2.6em;
            margin-top: 2em;
        }
        
    }/*end of text*/

    .lastTitle {
        color: $smalltitlered;

        @media (min-width: $screen-md-min) { 
            margin-left: 1em;
            margin-top: 4.5em;
        }

        @media (min-width: $screen-lg-min) { 
            font-size: 2.8em;
            line-height: 1em;
            margin-left: 0.7em;
            margin-top: 3em;
        }
    }/*end of lastTitle*/

    .lastText {

        @media (min-width: $screen-sm-min) {
            padding-right: 20%;
        }

        @media (min-width: $screen-md-min) {
            margin-left: 1.8em;
            padding-top: 3em;
            padding-right: 20%;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 1.8em;
            line-height: 2em;
            margin-left: 1.2em;
            padding-top: 1em;
            padding-right: 12%;
        }
    }

    .backTopArrow    {
        width: 100%;        
        display: flex;
        line-height: 1em;
        font-size: 0.5em;
        font-family: 'Arial';
        font-weight: bold;
        color: $nav;       
        margin: 1em;        
        text-transform: uppercase; 
        
        img {
            width: 23px;
            height: 23px;
        }        
      
        @media (min-width: $screen-sm-min) {        
     
            img {
                width: 42px;
                height: 42px;
            }
        }

        @media (min-width: $screen-md-min) {            
            font-size: 1em;         
        }

        @media (min-width: $screen-lg-min) {
            margin: 4em; 

            img {
                width: 84px;
                height: 84px;                
            }
        }

        @media (min-width: 1700px) {
            margin: 1em; 
        }

        @media (min-width: 1700px) {
            font-size: 2em;
        }

        span {                       
            display: inline-flex;
            align-items: center;
            padding: 0em 1em;
        }  

    }/*end of backTopArrow*/

    .next-case {
        justify-content: flex-end;

        img {
            transform: rotate(180deg);
        }
    }
    
    .float-right {
        background-position-x: 0%;
        transform: rotate(180deg);

        label {
            transform: rotate(180deg);
            background-position-x: 100%; 
            padding-right: 1em;
            position: relative; 
        }
    }/*end of float-right*/

    .ticketRow {
        padding-top: 4em;
        padding-bottom: 1em;
    }

    .bottomRow {
        padding-top: 4em;
        padding-bottom: 1em;
    }
}/*end of footer*/