.header {    
    background-image: url(../assets/header_image@2x.png);
    //background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    

    .row {
        // margin: 0;

        @media (min-width: $screen-md-min) {
            // margin: auto;
        }

        .text-center {
            width: 100%;
        }
    }/*end of row*/
    
    .backTopArrow    { 
        width: 100%;        
        display: flex;
        line-height: 1em;
        font-size: 1em;
        font-family: 'Arial';
        font-weight: bold;
        color: $nav;       
        margin: 1em;        
        text-transform: uppercase; 
        
        img {
            width: 23px;
            height: 23px;
        }        
      
        @media (min-width: $screen-sm-min) {        
            
            img {
                width: 42px;
                height: 42px;
            }
        }

        @media (min-width: $screen-md-min) {            
            max-width: 14em;            
        }

        @media (min-width: $screen-lg-min) {
            margin: 1em; 
            font-size: 2em;

            img {
                width: 84px;
                height: 84px;                
            }
        }

        label {                       
            display: inline-flex;            
            align-items: center;
            padding: 0em 1em;              
        }               
    }/*end of backTopArrow*/

    .smallLogo {
        width: auto;
        height: 23px;
        margin: 1em;  
        
        @media (min-width: $screen-sm-min) {  
            height: 37px;
        }
               
        @media (min-width: $screen-lg-min) {           
           display: none;               
            height: 73px;
            margin: 4em;
        }  
    }/*end of smalllogo*/
 
    .smallLogo32 {
        display: none;
        @media (min-width: $screen-lg-min) {           
            

            display: block;
            height: 73px;
            margin: 2em;
         } 
    }   
    
    /*end of first row*/

    .logo {
        display: block;
        margin: 0 auto; 
        margin-top: 15%;
        margin-bottom: 16%;       
           
        
        @media (min-width: $screen-md-min) {                       
            margin-top: 5%;
            margin-bottom: 10%;           
        }

        @media (min-width: $screen-lg-min) {             
            display: none; 
        }
    }/*end of logo*/

    .logo32 {                      
        margin: 0 auto;
        display: none;   
        
        @media (min-width: $screen-md-min) {          
            margin-top: 3%;           
        }

        @media (min-width: $screen-lg-min) { 
            display: block;
            margin-top: 5%;
            margin-bottom: 7%; 
        
        }
    }/*end of logo*/

    .bigTitle {              

        h1 {
            font-size: 2em;
            color: $title;
            font-family: 'Open Sans';
            line-height: 1em;
            letter-spacing: 0.11em;
            font-weight: 500;           
            text-transform: uppercase;
            margin-bottom: 2em;

            @media (min-width: $screen-sm-min) { 
                font-size: 3em;
                line-height: 1em;
                margin-bottom: 0;
            }

            @media (min-width: 1150px) { 
                font-size: 4em;
            }

            @media (min-width: $screen-lg-min) { 
                font-size: 5em;
                line-height: 96px;
                line-height: 1em;                            
            }  

            @media (min-width: 2500px) { 
                font-size: 8em;
            }
        }     
       
        h2 {
            display: block;          
            color: $titlelabel;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.1em;
            line-height: 1em;
            letter-spacing: 0;

            @media (min-width: $screen-sm-min) {
                font-size: 1.7em;
                line-height: 2em;
                letter-spacing: 0.0em;
            }

            @media (min-width: 1150px) { 
                font-size: 3rem;  
            }

            @media (min-width: $screen-lg-min) { 
                font-size: 3.5rem;               
            }  

            @media (min-width: 2500px) { 
                font-size: 4.5rem;  
            }
        }
    } /*end of big title*/

    .linerClass {

        &:after {
            content: '';
            display: block;
            background: $smalltitlered;        
            width: 100%;
            max-width: 10em;
            height: 0.1em;
            display: block;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 2em;               

            @media (min-width: $screen-sm-min) {           
                margin-top: 3em;
                margin-bottom: 5%;
            }

            @media (min-width: $screen-md-min) {
                margin-top: 2em;
                margin-bottom: 5%;
            }

            @media (min-width: $screen-lg-min) {
                margin-bottom: 5%;
                max-width: 21em;
            }
        }        

    }/*end of titleline*/

    .description {
        display: block;
        width: 100%;       
        line-height: 76px;

        h3 {
            display: block;            
            font-size: 0.71em;      
            color: $text;            
            line-height: 1em;
            font-weight: 400;
            font-family: 'Open Sans';
            font-style: italic;
            margin-bottom: 1em;            

            @media (min-width: $screen-sm-min) {
                font-size: 1.3em;
                line-height: 2em;
                margin-bottom: 0;
            }

            @media (min-width: $screen-lg-min) {
                font-size: 3em;
                line-height: 1em;
            }
        }
 
        h4 {            
            font-size: 0.9em;   
            color: $smalltitlered;
            text-transform: uppercase;
            font-weight: 700;
            font-family: 'Open Sans';
            letter-spacing: 0.02em;

            @media (min-width: $screen-sm-min) {
                font-size: 1.6em;
                letter-spacing: 0.1em;   
            }            

            @media (min-width: $screen-lg-min) {
                font-size: 3.75em;
            }
        }        
    }    /*end of description*/   
}


