.header {    
    background-image: url(../assets/header_image@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;    

    .row {               

        .text-center {
            width: 100%;
        }
    }/*end of row*/
    
    .backTopArrow    { 
        width: 100%;        
        display: flex;
        line-height: 1em;
        font-size: 1em;
        font-family: 'Arial';
        font-weight: bold;
        color: $nav;       
        margin: 1em;        
        text-transform: uppercase; 
        
        img {
            width: 23px;
            height: 23px;
        }        
      
        @media (min-width: $screen-sm-min) {        
            
            img {
                width: 42px;
                height: 42px;
            }
        }

        @media (min-width: $screen-md-min) {            
            max-width: 14em;            
        }

        @media (min-width: $screen-lg-min) {
            margin: 1em; 
            font-size: 2em;

            img {
                width: 84px;
                height: 84px;                
            }
        }

        span {                       
            display: inline-flex;            
            align-items: center;
            padding: 0em 1em;              
        }               
    }/*end of backTopArrow*/

    .smallLogo {
        width: auto;
        height: 23px;
        margin: 1em;  
        
        @media (min-width: $screen-sm-min) {  
            height: 37px;
        }
               
    
        @media (min-width: $screen-lg-min) {          
            display: block;
            height: 73px;
            margin: 2em;
         } 
    }   
    
    /*end of first row*/

    .logo {
        display: block;
        margin: 0 auto; 
        width:100%;
        max-width: 220px;  
        margin-top: 10vh;
        margin-bottom: 10vh;
           
         
        @media (min-width: $screen-md-min) {                     
            
            max-width: 320px;     
            margin-top: 10vh;
            margin-bottom: 10vh;       
        }
        @media (min-width: $screen-lg-min) { 
            max-width: 556px;
            display: block;
            margin-top: 10vh;
            margin-bottom: 10vh;       
        }
    }/*end of logo*/

    .bigTitle {              

        h1 {
            
            font-size: 2vh;
            line-height: 3.84vh;
            color: $title;
            font-family: 'Open Sans';
          
            letter-spacing: 0.11em;
            font-weight: 500;           
            text-transform: uppercase;
            //margin-bottom: 2em;

            @media (min-width: $screen-sm-min) { 
                font-size: 3.12vh;
                line-height: 3.84vh;
                margin-bottom: 0;
            }

            @media (min-width: $screen-md-min) { 
                font-size: 5.12vh;
                line-height: 3.84vh;
            }

            @media (min-width: $screen-lg-min) { 
                font-size: 5.12vh;
                line-height: 3.84vh;
                
            }  

            @media (min-width: 2500px) { 
                font-size: 8em;
            }
        }     
       
        h2 {
            display: block;          
            color: $titlelabel;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.42vh;
            line-height: 1vh;
            letter-spacing: 0;

            @media (min-width: $screen-sm-min) {
                font-size: 2.1vh;               
                line-height: 7.84vh;
                letter-spacing: 0.0em;
            }

            @media (min-width: 1150px) { 
                font-size: 2.88vh;               
                line-height: 3.84vh; 
            }

            @media (min-width: $screen-lg-min) { 
                font-size: 2.88vh;               
                line-height: 3.84vh;
            }  

            @media (min-width: 2500px) { 
                
            }
        }
    } /*end of big title*/

    .linerClass {

        &:after {
            content: '';
            display: block;
            background: $smalltitlered;        
            width: 14.4vh;
            
            height: 0.12vh;
            display: block;
            margin: auto;
            margin-top: 4vh;
            margin-bottom: 6vh;               

            @media (min-width: $screen-sm-min) {           
               
            }

            @media (min-width: $screen-md-min) {
                margin-top: 7vh;
                margin-bottom: 9vh;   
            }

            @media (min-width: $screen-lg-min) {
              
            }
        }        

    }/*end of titleline*/

    .description {
        display: block;
        width: 100%;       
        line-height: 2.5vh;

        h3 {
            display: block;            
            font-size: 1.32vh;
            line-height: 3.04vh;    
            color: $text;                        
            font-weight: 400;
            font-family: 'Open Sans';
            font-style: italic;
            margin-bottom: 1vh;            

            @media (min-width: $screen-sm-min) {
                font-size: 1.92vh;
                line-height: 3.04vh;
                margin-bottom: 0;
            }

            @media (min-width: $screen-lg-min) {
                font-size: 1.92vh;
                line-height: 3.04vh;
            }
        }
 
        h4 {            
            font-size: 1.6vh;
            line-height: 3.04vh;  
            color: $smalltitlered;
            text-transform: uppercase;
            font-weight: 700;
            font-family: 'Open Sans';
            letter-spacing: 0.02em;

            @media (min-width: $screen-sm-min) {
                font-size: 2.4vh;
                line-height: 3.04vh; 
            }            

            @media (min-width: $screen-lg-min) {
                font-size: 2.4vh;
                line-height: 3.04vh;

            }
        }        
    }    /*end of description*/   
}


