.header {    
    background-image: url(../assets/header_image@2x.png);
    @include image-2x("header_image@2x.png", 100%, 100%);
    //background-image: -webkit-image-set( url(../assets/header_image.png) 1x, url(..assets/header_image@2x.png) 2x);
    background-size: contain;
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 1500px; 
    //width: 100vh; 
    //eight: 100vh;

    .row {
        .text-center {
            width: 100%;
        }
    }
    
    .backTopArrow    {
        line-height: 84px;
        font-size: 36px;
        font-family:    'Arial';
        font-weight:bold;
        color: $nav;
        display: inline-block;
        margin: 10px;  
        text-transform: uppercase;   
        height: 84px;        
        background-image: url(../assets/arrow_back@2x.png);            
        background-repeat: no-repeat; 

      
        @media (min-width: $screen-lg-min) { margin: 60px }

        @include image-2x("arrow_back@2x.png", 84px, 84px);
        
        label {            
           
            display: inline-block;
            //width: 42px;
            width: 84px;
            //height: 42px;
            height: 84px;
            padding-left: 100px;
        }
            
    }

    .logo {
        //background-image: url(../assets/logo_sigmavia.png);    
        background-image: url(../assets/logo_sigmavia@2x.png);    
        @include image-2x("logo_sigmavia@2x.png",556px, 118px);
        //width: 278px;
        width: 556px;
        //height: 59px;
        height: 118px;
        background-repeat: no-repeat; 
        margin: auto;
        display: block;
        position: relative;
        margin-top: 223px;
        margin-bottom: 240px;

        @media (min-width: $screen-lg-min) { margin-top: 70px }
    }

    .smallLogo {
        background-image: url(../assets/logo_sigma@2x.png);        
        @include image-2x("logo_sigma@2x.png", 262px, 73px);
        display: block;
        background-repeat: no-repeat; 
        float: right;
        //width: 131px;
        width: 262px;
        //height: 37px;
        height: 73px;
        margin: 10px;       

        @media (min-width: $screen-lg-min) { 
            margin: 60px; 
        }  
    }

    .bigTitle {              

        h1 {
            font-size: 4rem;
            color: $title;
            font-family: 'Univers';
            line-height: 96px;
            letter-spacing: 0.75px;
            font-weight: 500;           
            text-transform: uppercase;

            @media (min-width: $screen-lg-min) { 
                font-size: 8rem;                            
            }  
        }     
       
        h2 {
            display: block;
            //font-size: 72px;
            font-size: 2.5em;
            line-height: 96px;
            color: $titlelabel;
            text-transform: uppercase;

            @media (min-width: $screen-lg-min) { 
                font-size: 4.5rem;               
            }  
        }
    } 

    .titleLine {
        background: $smalltitlered;
        width: 100%;
        max-width: 370px;
        height: 3px;
        display: block;
        margin: auto;        
        margin-top: 100px;
        margin-bottom: 100px;

    }

    .description {
        display: block;
        width: 100%;       
        line-height: 76px;

        h3 {
            display: block;            
            font-size: 2em;      
            color: $text;            
            line-height: 72px;
            font-weight: 400;
            font-family: 'Open Sans';
            font-style: italic;
            margin-bottom: 10px;

            @media (min-width: $screen-lg-min) {
                font-size: 3em;
            }
        }
 
        h4 {
            font-size: 2em;   
            color: $smalltitlered;
            text-transform: uppercase;
            font-weight: 700;
            font-family: 'Universe';

            @media (min-width: $screen-lg-min) {
                font-size: 3.75em;
            }
        }        
    }       
}


